@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);

}

div.dados{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    margin-top:100px;
    gap: 30px;
    color: black;
    background-color: rgb(38, 37, 37);

    
    
}

.dados h1{
    color: green;
}

.dados input{
    padding: 15px;
    border-radius: 15px;
    border: none;
    color: black;
    border: green 1px solid;
    
}

.btn{
    background-color: green;
    cursor: pointer;
    color: white;
    transition:.5s;
    
}

.btn:hover{
    background-color: white;
    color: green;
    transform: translateY(-7px);

}

    .magreza     { color: #c0392b; }
    .normal      { color: #27ae60; }
    .sobrepeso   { color: #e67e22; }
    .obesidade1  { color: #d35400; }
    .obesidade2  { color: #c82333; }